<div data-role="header">
	<h1>Meny</h1>
	<%= link_to '', :back, "data-icon" => "arrow-r", "data-iconpos" => "notext", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
	<ul data-role="listview" data-theme="g">
		<li data-icon="false"><a href="">Hem</a></li>
	<li data-icon="false"><a href="">Profil</a></li>
	<li data-icon="false"><a href="">Min vinkällare</a></li>
	<li data-icon="false"><a href="">Topplistor</a></li>
	<li data-icon="false"><a href="">V&auml;nner</a></li>
</ul>
</div>