// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wine_image{
	float:left;
	min-width: 30%;
	max-width: 30%;
	border-style:solid;
	border-width:1pt;
}

.wine_info_wrapper{
	float:right;
	min-width: 68%;
	max-width: 68%;
	
}

.wine_info1{
	border-style:solid;
	border-width:1pt;
}

.wine_info2{
	border-style:solid;
	border-width:1pt;
}

.wrapper{
	margin:1% 1% 1% 1%;
}

.wine_header{
	text-align:center;
}