<div data-role="header">
	<h1>Profile</h1>
	<%= link_to 'Meny', :menu, "data-icon" => "grid", "class" => "ui-btn-left", "data-iconpos" => "notext", "data-direction" => "reverse" %>
</div>

<div data-role="content">

</div>